In [95]:
import kagglehub 
import pandas as pd
import numpy as np

In [96]:
# Download latest version
path = kagglehub.dataset_download("yanghu583/electric-vehicle-population-data-2025")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.12), please consider upgrading to the latest version (0.3.13).
Path to dataset files: /Users/pardeepwalia/.cache/kagglehub/datasets/yanghu583/electric-vehicle-population-data-2025/versions/1

In [97]:
df = pd.read_csv(r"/Users/pardeepwalia/.cache/kagglehub/datasets/yanghu583/electric-vehicle-population-data-2025/versions/1/Electric_Vehicle_Population_Data.csv")

Wrangling

In [98]:
df.shape

(250659, 17)

In [99]:
df.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

In [100]:
df.sample(5)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
146585,5YJ3E1EA8J,Snohomish,Everett,WA,98203.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,38.0,104879330,POINT (-122.23019 47.94949),PUGET SOUND ENERGY INC,5.306104e+10
159405,2C4RC1S70P,Snohomish,Gold Bar,WA,98251.0,2023,CHRYSLER,PACIFICA,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,32.0,0.0,39.0,235186654,POINT (-121.69743 47.85565),BONNEVILLE POWER ADMINISTRATION||PUD 1 OF SNOH...,5.306105e+10
200497,7SAYGDEE1P,Island,Oak Harbor,WA,98277.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,10.0,237965899,POINT (-122.64682 48.29077),PUGET SOUND ENERGY INC,5.302997e+10
92434,WVGDMPE24M,King,Seattle,WA,98125.0,2021,VOLKSWAGEN,ID.4,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,46.0,267219144,POINT (-122.30253 47.72656),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
171227,WBY33AW0XP,Whatcom,Bellingham,WA,98225.0,2023,BMW,I4,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,40.0,233701058,POINT (-122.47107 48.75245),PUGET SOUND ENERGY INC||PUD NO 1 OF WHATCOM CO...,5.307300e+10

In [101]:
df['State'].value_counts()
# 99% is in state of WA

State
WA    250076
CA       144
VA        71
MD        34
TX        29
FL        26
CO        24
TN        17
IL        17
OR        14
NC        14
AZ        14
GA        13
NV        11
NY        11
MO        11
CT        10
MI         9
KS         9
MA         9
NJ         8
AL         8
DC         7
ID         7
RI         6
PA         6
HI         6
OH         5
NE         5
IN         4
NH         4
SC         3
AP         3
UT         3
WI         3
KY         3
MN         2
BC         2
WY         2
ME         1
NS         1
AK         1
DE         1
OK         1
NM         1
MS         1
LA         1
GU         1
Name: count, dtype: int64

Model and Make Dominance

In [102]:
# Market dominance by Company
round(df[['Make']].value_counts(normalize=True)*100,3)

Make
TESLA                     41.991
CHEVROLET                  7.270
NISSAN                     6.417
FORD                       5.383
KIA                        4.856
BMW                        4.209
TOYOTA                     4.161
HYUNDAI                    3.322
RIVIAN                     3.047
VOLVO                      2.621
VOLKSWAGEN                 2.584
JEEP                       2.541
AUDI                       1.831
CHRYSLER                   1.431
MERCEDES-BENZ              1.123
HONDA                      0.973
SUBARU                     0.874
PORSCHE                    0.684
CADILLAC                   0.587
POLESTAR                   0.569
MAZDA                      0.493
MINI                       0.476
LEXUS                      0.454
MITSUBISHI                 0.449
FIAT                       0.340
LUCID                      0.185
GMC                        0.178
GENESIS                    0.166
LINCOLN                    0.162
ACURA                      0.128
DODGE                      0.111
SMART                      0.095
JAGUAR                     0.088
LAND ROVER                 0.071
FISKER                     0.057
ALFA ROMEO                 0.041
BRIGHTDROP                 0.014
LAMBORGHINI                0.005
RAM                        0.004
BENTLEY                    0.003
ROLLS-ROYCE                0.002
TH!NK                      0.002
AZURE DYNAMICS             0.002
MULLEN AUTOMOTIVE INC.     0.001
VINFAST                    0.001
WHEEGO ELECTRIC CARS       0.001
Name: proportion, dtype: float64

In [103]:
# Market dominance by car Model
round(df[['Model']].value_counts(normalize=True)*100,3)

Model
MODEL Y                     20.707
MODEL 3                     14.894
LEAF                         5.569
MODEL S                      3.145
BOLT EV                      3.031
MODEL X                      2.657
MUSTANG MACH-E               2.183
ID.4                         2.095
WRANGLER                     1.877
IONIQ 5                      1.868
VOLT                         1.861
R1S                          1.681
RAV4 PRIME (PHEV)            1.664
NIRO                         1.625
PRIUS PRIME (PHEV)           1.468
PACIFICA                     1.431
EV6                          1.423
F-150                        1.372
X5                           1.297
BOLT EUV                     1.163
R1T                          0.993
XC90                         0.870
ARIYA                        0.848
SOLTERRA                     0.837
I4                           0.799
I3                           0.773
XC60                         0.714
FUSION                       0.677
GRAND CHEROKEE               0.632
PROLOGUE                     0.624
BZ4X                         0.623
EV9                          0.615
IX                           0.596
C-MAX                        0.578
KONA                         0.570
CYBERTRUCK                   0.568
SPORTAGE                     0.561
XC40                         0.548
PS2                          0.504
Q5 E                         0.499
EQUINOX                      0.497
LYRIQ                        0.480
BLAZER                       0.464
CX-90                        0.438
OUTLANDER                    0.428
E-TRON                       0.426
E-GOLF                       0.424
PRIUS                        0.381
EDV                          0.373
SORENTO                      0.357
TAYCAN                       0.347
CLARITY                      0.343
IONIQ 6                      0.328
HARDTOP                      0.328
500                          0.302
TUCSON                       0.266
ESCAPE                       0.264
SOUL                         0.233
EQB-CLASS                    0.225
TRANSIT                      0.221
A3                           0.216
330E                         0.212
C40                          0.210
Q8                           0.192
RZ                           0.187
AIR                          0.185
CAYENNE                      0.184
EQE-CLASS SUV                0.184
530E                         0.178
NX                           0.177
Q4                           0.177
GLC-CLASS                    0.163
SILVERADO                    0.158
GLE-CLASS                    0.150
COUNTRYMAN                   0.148
EQS-CLASS SUV                0.138
X3                           0.137
ZDX                          0.128
HUMMER EV SUV                0.127
IONIQ                        0.126
GV60                         0.113
EQS-CLASS SEDAN              0.110
SANTA FE                     0.108
I5                           0.101
HORNET                       0.093
SPARK                        0.092
MACAN                        0.089
I-PACE                       0.088
FOCUS                        0.084
EX30                         0.083
S60                          0.083
CORSAIR                      0.083
AVIATOR                      0.080
RX                           0.079
Q6                           0.076
EQE-CLASS SEDAN              0.073
E-TRON SPORTBACK             0.067
E-TRON GT                    0.067
POLESTAR 3                   0.065
PANAMERA                     0.065
ID. BUZZ                     0.065
OPTIQ                        0.059
Q5                           0.057
OCEAN                        0.053
FORTWO ELECTRIC DRIVE        0.052
GV70                         0.048
CX-70                        0.046
RANGE ROVER SPORT            0.043
OPTIMA                       0.041
EX90                         0.041
TONALE                       0.041
V60                          0.039
I8                           0.038
500E                         0.038
CROSSTREK                    0.037
HUMMER EV PICKUP             0.036
B-CLASS                      0.033
I7                           0.032
WAGONEER S                   0.031
ELR                          0.031
SONATA                       0.030
RANGE ROVER                  0.027
RAV4                         0.024
RS E-TRON GT                 0.023
IONIQ 5 N                    0.022
FORTWO                       0.022
EQ FORTWO                    0.022
I-MIEV                       0.021
ROADSTER                     0.020
CHARGER                      0.018
S90                          0.017
S-CLASS                      0.016
EX40                         0.015
SIERRA                       0.015
ZEVO                         0.014
SQ8                          0.013
E-CLASS                      0.012
M5                           0.012
VISTIQ                       0.012
TX                           0.011
XM                           0.010
740E                         0.010
MX-30                        0.009
SQ6                          0.008
G-CLASS                      0.008
C-CLASS                      0.008
745E                         0.006
CT6                          0.006
G80                          0.005
ACCORD                       0.005
BRIGHTDROP                   0.005
550E                         0.005
A7 E                         0.005
IONIQ 9                      0.004
KARMA                        0.004
REVUELTO                     0.004
PROMASTER 3500               0.004
RANGER                       0.003
ESPRINTER                    0.003
SPECTRE                      0.002
CITY                         0.002
TRANSIT CONNECT ELECTRIC     0.002
MIRAI                        0.002
S E-TRON GT                  0.002
745LE                        0.002
750E                         0.002
FLYING SPUR                  0.002
A8 E                         0.001
AMG GT                       0.001
URUS                         0.001
BENTAYGA                     0.001
WHEEGO                       0.001
SL-CLASS                     0.001
VF 8                         0.001
ONE                          0.001
918                          0.000
RCV                          0.000
CONTINENTAL                  0.000
Name: proportion, dtype: float64

In [104]:
df['Electric Vehicle Type'].value_counts(normalize=True)*100

Electric Vehicle Type
Battery Electric Vehicle (BEV)            79.60536
Plug-in Hybrid Electric Vehicle (PHEV)    20.39464
Name: proportion, dtype: float64

In [105]:
df.isna().mean().sort_values(ascending=False)
# % of missing value per column

Legislative District                                 0.002326
Electric Range                                       0.000084
Base MSRP                                            0.000084
Vehicle Location                                     0.000056
2020 Census Tract                                    0.000024
City                                                 0.000024
Electric Utility                                     0.000024
Postal Code                                          0.000024
County                                               0.000024
DOL Vehicle ID                                       0.000000
VIN (1-10)                                           0.000000
Clean Alternative Fuel Vehicle (CAFV) Eligibility    0.000000
Model                                                0.000000
Make                                                 0.000000
Model Year                                           0.000000
State                                                0.000000
Electric Vehicle Type                                0.000000
dtype: float64

In [106]:
df.nunique().sort_values(ascending=False)
# helps figure which to group by

DOL Vehicle ID                                       250659
VIN (1-10)                                            15108
2020 Census Tract                                      2269
Postal Code                                            1014
Vehicle Location                                       1013
City                                                    822
County                                                  225
Model                                                   178
Electric Range                                          111
Electric Utility                                         75
Legislative District                                     49
State                                                    48
Make                                                     46
Base MSRP                                                31
Model Year                                               21
Clean Alternative Fuel Vehicle (CAFV) Eligibility         3
Electric Vehicle Type                                     2
dtype: int64

In [107]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250659 entries, 0 to 250658
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         250659 non-null  object
 1   County                                             250653 non-null  object
 2   City                                               250653 non-null  object
 3   State                                              250659 non-null  object
 4   Postal Code                                        250653 non-null  float64
 5   Model Year                                         250659 non-null  int64
 6   Make                                               250659 non-null  object
 7   Model                                              250659 non-null  object
 8   Electric Vehicle Type                              250659 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  250659 non-null  object
 10  Electric Range                                     250638 non-null  float64
 11  Base MSRP                                          250638 non-null  float64
 12  Legislative District                               250076 non-null  float64
 13  DOL Vehicle ID                                     250659 non-null  int64
 14  Vehicle Location                                   250645 non-null  object
 15  Electric Utility                                   250653 non-null  object
 16  2020 Census Tract                                  250653 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 195.6 MB

Data Quality

In [108]:
df.isna().sum().sort_values(ascending=False)

Legislative District                                 583
Electric Range                                        21
Base MSRP                                             21
Vehicle Location                                      14
2020 Census Tract                                      6
City                                                   6
Electric Utility                                       6
Postal Code                                            6
County                                                 6
DOL Vehicle ID                                         0
VIN (1-10)                                             0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Model                                                  0
Make                                                   0
Model Year                                             0
State                                                  0
Electric Vehicle Type                                  0
dtype: int64

Focus Columns for KPIS:

Model Year → KPIs 1, 4, 7

Electric Vehicle Type (BEV/PHEV) → KPIs 2, 6

Make, Model → KPIs 3, 4, 5

Electric Range → KPI 4

Base MSRP → KPI 5

County / City / Postal Code → KPI 6

In [109]:
df.head(2)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJSA1E65N,Yakima,Granger,WA,98932.0,2022,TESLA,MODEL S,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,15.0,187279214,POINT (-120.1871 46.33949),PACIFICORP,5.307700e+10
1,KNDC3DLC5N,Yakima,Yakima,WA,98902.0,2022,KIA,EV6,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,15.0,210098241,POINT (-120.52041 46.59751),PACIFICORP,5.307700e+10

In [110]:
year_li, year_hi =[2010,2025]
df['Model Year'].unique()

array([2022, 2020, 2016, 2019, 2015, 2013, 2024, 2023, 2017, 2018, 2014,
       2021, 2012, 2025, 2011, 2026, 2008, 2010, 2000, 2002, 2003])

In [111]:
df = df[df['Model Year']>=2010]

In [112]:
# first sort the values by year then rename and then convert to dataframe
vehicle_count = (df['Model Year'].value_counts().sort_index()
                 .rename('Vehicle_count')
                 .to_frame())
vehicle_count

            Vehicle_count
Model Year
2010                   24
2011                  637
2012                 1447
2013                 4140
2014                 3341
2015                 4592
2016                 5288
2017                 8757
2018                14555
2019                11024
2020                12338
2021                20713
2022                29281
2023                59273
2024                49710
2025                23319
2026                 2190

In [113]:
# YOY absolute basically subtracting prev from current
vehicle_count['YoY_abs'] = vehicle_count['Vehicle_count'].diff()
vehicle_count['YoY_abs']

Model Year
2010        NaN
2011      613.0
2012      810.0
2013     2693.0
2014     -799.0
2015     1251.0
2016      696.0
2017     3469.0
2018     5798.0
2019    -3531.0
2020     1314.0
2021     8375.0
2022     8568.0
2023    29992.0
2024    -9563.0
2025   -26391.0
2026   -21129.0
Name: YoY_abs, dtype: float64

In [114]:
# YoY percentage
prev = vehicle_count['Vehicle_count'].shift(1)
vehicle_count['YoY_pct'] = np.where((prev>0),((vehicle_count['Vehicle_count']-prev)/prev)*100.0,np.nan)
vehicle_count

            Vehicle_count  YoY_abs      YoY_pct
Model Year
2010                   24      NaN          NaN
2011                  637    613.0  2554.166667
2012                 1447    810.0   127.158556
2013                 4140   2693.0   186.109191
2014                 3341   -799.0   -19.299517
2015                 4592   1251.0    37.443879
2016                 5288    696.0    15.156794
2017                 8757   3469.0    65.601362
2018                14555   5798.0    66.209889
2019                11024  -3531.0   -24.259705
2020                12338   1314.0    11.919448
2021                20713   8375.0    67.879721
2022                29281   8568.0    41.365326
2023                59273  29992.0   102.428196
2024                49710  -9563.0   -16.133821
2025                23319 -26391.0   -53.089922
2026                 2190 -21129.0   -90.608517

In [115]:
# CAGR Compound Annual Growth Rate , window = hom many years of window eg 2014 ->2025
end_year = vehicle_count.index.max()
window = 11
start_yr = max(year_li, end_year-(window-1))
# window candidate year count and latest year count
c_start = vehicle_count.loc[start_yr,"Vehicle_count"]
c_end = vehicle_count.loc[year_hi,'Vehicle_count']

year_elapsed = year_hi-start_yr

CAGR = np.nan
if year_elapsed>0 and c_start>0 and c_end>0:
    CAGR= (c_end / c_start)**(1.0/year_elapsed)-1.0

CAGR = round(float(CAGR )*100,2)
CAGR

17.92

KPI #2

BEV vs PHEV Mix by Year

Are people shifting more toward fully electric (BEV) vs plug-in hybrids (PHEV) over time?

In [116]:
df.sample(3)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
135289,7SAYGDEF7R,Pierce,Bonney Lake,WA,98391.0,2024,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,31.0,267275396,POINT (-122.17144 47.19175),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.305307e+10
173135,2C4RC1L71M,Lewis,Centralia,WA,98531.0,2021,CHRYSLER,PACIFICA,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,32.0,0.0,20.0,181355296,POINT (-122.95266 46.72895),BONNEVILLE POWER ADMINISTRATION||CITY OF CENTR...,5.304197e+10
240921,7SAYGDEE9T,Snohomish,Lynnwood,WA,98036.0,2026,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,32.0,280905719,POINT (-122.29245 47.82557),PUGET SOUND ENERGY INC,5.306105e+10

In [117]:
mask =(df['Model Year']>2009) & (df['Model Year']<2026)
valid_model_year = df.loc[mask]
valid_model_year['Ev_type'] = valid_model_year['Electric Vehicle Type'].str.lower().str.strip()

# Normalizing Ev type to BEV/PHEV
valid_model_year['Ev_type'] = np.where(valid_model_year['Ev_type'].str.contains('battery'),'BEV','PHEV')

In [118]:
# Pivot year and EV Type, vlues = vin (1-10) as it is unique for every row
ev_type_per_year = valid_model_year.pivot_table(index='Model Year',columns='Ev_type',values='VIN (1-10)',aggfunc='count')
ev_type_per_year

Ev_type       BEV   PHEV
Model Year
2010           22      2
2011          566     71
2012          647    800
2013         2600   1540
2014         1629   1712
2015         3310   1282
2016         3573   1715
2017         4752   4005
2018        10195   4360
2019         8968   2056
2020        10466   1872
2021        16403   4310
2022        24527   4754
2023        52214   7059
2024        39634  10076
2025        17846   5473

In [119]:
# percentage per year ev types
ev_type_per_year['total'] = ev_type_per_year['BEV']+ ev_type_per_year['PHEV']
ev_type_per_year['BEV_share_%'] = round((ev_type_per_year['BEV']/ev_type_per_year['total'])*100,2)
ev_type_per_year['PHEV_share_%'] = round((ev_type_per_year['PHEV']/ev_type_per_year['total'])*100,2)
ev_type_per_year

Ev_type       BEV   PHEV  total  BEV_share_%  PHEV_share_%
Model Year
2010           22      2     24        91.67          8.33
2011          566     71    637        88.85         11.15
2012          647    800   1447        44.71         55.29
2013         2600   1540   4140        62.80         37.20
2014         1629   1712   3341        48.76         51.24
2015         3310   1282   4592        72.08         27.92
2016         3573   1715   5288        67.57         32.43
2017         4752   4005   8757        54.27         45.73
2018        10195   4360  14555        70.04         29.96
2019         8968   2056  11024        81.35         18.65
2020        10466   1872  12338        84.83         15.17
2021        16403   4310  20713        79.19         20.81
2022        24527   4754  29281        83.76         16.24
2023        52214   7059  59273        88.09         11.91
2024        39634  10076  49710        79.73         20.27
2025        17846   5473  23319        76.53         23.47

Make Dominance and Market Share

In [120]:
# checking for non normalized Make name eg. TESLA Tesla or Tesla Motor inc
valid_model_year['Make'].value_counts().sort_index(ascending=True)

Make
ACURA                        321
ALFA ROMEO                   102
AUDI                        4590
AZURE DYNAMICS                 4
BENTLEY                        8
BMW                        10500
BRIGHTDROP                    35
CADILLAC                    1440
CHEVROLET                  18223
CHRYSLER                    3587
DODGE                        277
FIAT                         851
FISKER                       143
FORD                       13484
GENESIS                      411
GMC                          445
HONDA                       2438
HYUNDAI                     8317
JAGUAR                       220
JEEP                        6368
KIA                        12170
LAMBORGHINI                   13
LAND ROVER                   177
LEXUS                       1138
LINCOLN                      407
LUCID                        463
MAZDA                       1235
MERCEDES-BENZ               2816
MINI                        1192
MITSUBISHI                  1126
MULLEN AUTOMOTIVE INC.         2
NISSAN                     16085
POLESTAR                    1427
PORSCHE                     1715
RAM                            9
RIVIAN                      7637
ROLLS-ROYCE                    6
SMART                        239
SUBARU                      2190
TESLA                     103145
TH!NK                          5
TOYOTA                     10426
VINFAST                        2
VOLKSWAGEN                  6478
VOLVO                       6570
WHEEGO ELECTRIC CARS           2
Name: count, dtype: int64

In [121]:
import warnings
warnings.filterwarnings("ignore")

In [122]:
# Adoption by make per year
valid_model_year['Make_clear'] = valid_model_year['Make'].str.strip().str.title()
make_year = valid_model_year.groupby(['Model Year','Make_clear'])['VIN (1-10)'].count().reset_index(name = 'counts')
# peeking at year 2025 and the names of companies
make_year.query("`Model Year` == 2025")

     Model Year     Make_clear  counts
258        2025     Alfa Romeo       1
259        2025           Audi     292
260        2025        Bentley       3
261        2025            Bmw    1672
262        2025       Cadillac     416
263        2025      Chevrolet     777
264        2025       Chrysler      78
265        2025          Dodge      20
266        2025           Ford     347
267        2025        Genesis      75
268        2025            Gmc     180
269        2025          Honda      73
270        2025        Hyundai     988
271        2025           Jeep     803
272        2025            Kia    1519
273        2025    Lamborghini       6
274        2025     Land Rover     104
275        2025          Lexus     338
276        2025        Lincoln      18
277        2025          Lucid     133
278        2025          Mazda     419
279        2025  Mercedes-Benz     558
280        2025           Mini     136
281        2025     Mitsubishi     117
282        2025         Nissan    1074
283        2025       Polestar     167
284        2025        Porsche     299
285        2025         Rivian    1804
286        2025    Rolls-Royce       1
287        2025         Subaru     148
288        2025          Tesla    8566
289        2025         Toyota     929
290        2025     Volkswagen     229
291        2025          Volvo    1029

In [123]:
# Within each year, compute each make’s % of total
total_year = make_year.groupby('Model Year')['counts'].transform('sum')
make_year['share_%'] = (make_year['counts']/total_year)*100
make_year

     Model Year              Make_clear  counts    share_%
0          2010                   Tesla      22  91.666667
1          2010    Wheego Electric Cars       2   8.333333
2          2011          Azure Dynamics       4   0.627943
3          2011               Chevrolet      71  11.145997
4          2011                  Nissan     549  86.185243
5          2011                   Tesla       8   1.255887
6          2011                   Th!Nk       5   0.784929
7          2012               Chevrolet     423  29.232896
8          2012                  Fisker      10   0.691085
9          2012                    Ford      10   0.691085
10         2012              Mitsubishi      35   2.418798
11         2012                  Nissan     475  32.826538
12         2012                   Tesla     115   7.947478
13         2012                  Toyota     379  26.192122
14         2013               Chevrolet     754  18.212560
15         2013                    Fiat      95   2.294686
16         2013                    Ford     557  13.454106
17         2013                  Nissan    1731  41.811594
18         2013                   Smart      24   0.579710
19         2013                   Tesla     682  16.473430
20         2013                  Toyota     297   7.173913
21         2014                     Bmw     421  12.601018
22         2014                Cadillac      57   1.706076
23         2014               Chevrolet     674  20.173601
24         2014                    Fiat      86   2.574080
25         2014                    Ford     565  16.911104
26         2014                   Honda      13   0.389105
27         2014           Mercedes-Benz      23   0.688417
28         2014              Mitsubishi       8   0.239449
29         2014                  Nissan     607  18.168213
30         2014                 Porsche       9   0.269380
31         2014                   Smart      60   1.795870
32         2014                   Tesla     589  17.629452
33         2014                  Toyota     229   6.854235
34         2015                     Bmw     392   8.536585
35         2015               Chevrolet     456   9.930314
36         2015                    Fiat     214   4.660279
37         2015                    Ford     519  11.302265
38         2015                     Kia      22   0.479094
39         2015           Mercedes-Benz      21   0.457317
40         2015                  Nissan    1720  37.456446
41         2015                 Porsche      30   0.653310
42         2015                   Smart      46   1.001742
43         2015                   Tesla     940  20.470383
44         2015                  Toyota     107   2.330139
45         2015              Volkswagen     125   2.722125
46         2016                    Audi     204   3.857791
47         2016                     Bmw     357   6.751135
48         2016                Cadillac      20   0.378215
49         2016               Chevrolet     305   5.767776
50         2016                    Fiat     143   2.704236
51         2016                    Ford     731  13.823752
52         2016                 Hyundai      39   0.737519
53         2016                     Kia     353   6.675492
54         2016           Mercedes-Benz      36   0.680787
55         2016              Mitsubishi       8   0.151286
56         2016                  Nissan    1049  19.837368
57         2016                 Porsche      68   1.285930
58         2016                   Smart      24   0.453858
59         2016                   Tesla    1517  28.687595
60         2016              Volkswagen     324   6.127080
61         2016                   Volvo     110   2.080182
62         2017                    Audi     181   2.066918
63         2017                     Bmw     666   7.605344
64         2017                Cadillac       3   0.034258
65         2017               Chevrolet    3075  35.114765
66         2017                Chrysler      86   0.982071
67         2017                    Fiat     151   1.724335
68         2017                    Ford     622   7.102889
69         2017                 Hyundai      46   0.525294
70         2017                     Kia     189   2.158273
71         2017           Mercedes-Benz      40   0.456777
72         2017              Mitsubishi       1   0.011419
73         2017                  Nissan     857   9.786457
74         2017                 Porsche      75   0.856458
75         2017                   Smart      31   0.354003
76         2017                   Tesla    1651  18.853489
77         2017                  Toyota     918  10.483042
78         2017              Volkswagen      51   0.582391
79         2017                   Volvo     114   1.301816
80         2018                    Audi     157   1.078667
81         2018                     Bmw     708   4.864308
82         2018                Cadillac      11   0.075575
83         2018               Chevrolet    1381   9.488148
84         2018                Chrysler     545   3.744418
85         2018                    Fiat      54   0.371007
86         2018                    Ford     162   1.113020
87         2018                   Honda     638   4.383373
88         2018                 Hyundai      22   0.151151
89         2018                     Kia     290   1.992442
90         2018           Mercedes-Benz      49   0.336654
91         2018                    Mini      55   0.377877
92         2018              Mitsubishi     180   1.236688
93         2018                  Nissan    1179   8.100309
94         2018                 Porsche      86   0.590862
95         2018                   Smart      43   0.295431
96         2018                   Tesla    8024  55.128822
97         2018                  Toyota     700   4.809344
98         2018              Volkswagen      39   0.267949
99         2018                   Volvo     232   1.593954
100        2019                    Audi     532   4.825835
101        2019                     Bmw     332   3.011611
102        2019               Chevrolet    1422  12.899129
103        2019                Chrysler     117   1.061321
104        2019                    Fiat      14   0.126996
105        2019                    Ford     126   1.142961
106        2019                   Honda     108   0.979681
107        2019                 Hyundai     144   1.306241
108        2019                  Jaguar      85   0.771045
109        2019                     Kia     672   6.095791
110        2019           Mercedes-Benz     149   1.351597
111        2019                    Mini     107   0.970610
112        2019              Mitsubishi     158   1.433237
113        2019                  Nissan    1358  12.318578
114        2019                 Porsche      77   0.698476
115        2019                   Smart      11   0.099782
116        2019                  Subaru      92   0.834543
117        2019                   Tesla    4577  41.518505
118        2019                  Toyota     226   2.050073
119        2019              Volkswagen     525   4.762337
120        2019                   Volvo     192   1.741655
121        2020                    Audi     249   2.018155
122        2020                     Bmw     208   1.685849
123        2020               Chevrolet    1672  13.551629
124        2020                Chrysler     283   2.293727
125        2020                    Ford      65   0.526828
126        2020                   Honda      90   0.729454
127        2020                 Hyundai     317   2.569298
128        2020                  Jaguar      90   0.729454
129        2020                     Kia     587   4.757659
130        2020              Land Rover      36   0.291781
131        2020                 Lincoln      44   0.356622
132        2020           Mercedes-Benz      38   0.307992
133        2020                    Mini      19   0.153996
134        2020              Mitsubishi      97   0.786189
135        2020                  Nissan     709   5.746474
136        2020                 Porsche     188   1.523748
137        2020                   Tesla    7040  57.059491
138        2020                  Toyota     394   3.193386
139        2020                   Volvo     212   1.718269
140        2021                    Audi     608   2.935355
141        2021                 Bentley       1   0.004828
142        2021                     Bmw     770   3.717472
143        2021               Chevrolet     642   3.099503
144        2021                Chrysler     491   2.370492
145        2021                    Ford     960   4.634770
146        2021                   Honda      25   0.120697
147        2021                 Hyundai     336   1.622170
148        2021                    Jeep     654   3.157437
149        2021                     Kia     101   0.487616
150        2021              Land Rover      10   0.048279
151        2021                 Lincoln      53   0.255878
152        2021                    Mini     138   0.666248
153        2021              Mitsubishi      10   0.048279
154        2021                  Nissan     699   3.374692
155        2021                Polestar     208   1.004200
156        2021                 Porsche     218   1.052479
157        2021                   Tesla   11518  55.607589
158        2021                  Toyota    1212   5.851398
159        2021              Volkswagen    1116   5.387921
160        2021                   Volvo     943   4.552696
161        2022                    Audi     643   2.195963
162        2022                 Bentley       2   0.006830
163        2022                     Bmw     983   3.357126
164        2022               Chevrolet    1200   4.098221
165        2022                Chrysler     422   1.441208
166        2022                    Ford    1780   6.079027
167        2022                 Hyundai     792   2.704826
168        2022                  Jaguar      20   0.068304
169        2022                    Jeep     790   2.697995
170        2022                     Kia    2148   7.335815
171        2022                   Lexus      60   0.204911
172        2022                 Lincoln     118   0.402992
173        2022                   Lucid     112   0.382501
174        2022                   Mazda      22   0.075134
175        2022           Mercedes-Benz     165   0.563505
176        2022                    Mini     240   0.819644
177        2022              Mitsubishi      86   0.293706
178        2022                  Nissan    1154   3.941122
179        2022                Polestar     402   1.372904
180        2022                 Porsche     228   0.778662
181        2022                  Rivian    1332   4.549025
182        2022                   Tesla   13949  47.638400
183        2022                  Toyota     669   2.284758
184        2022              Volkswagen     739   2.523821
185        2022                   Volvo    1225   4.183600
186        2023                    Audi     683   1.152295
187        2023                 Bentley       1   0.001687
188        2023                     Bmw    1822   3.073912
189        2023              Brightdrop      33   0.055675
190        2023                Cadillac      60   0.101227
191        2023               Chevrolet    3331   5.619759
192        2023                Chrysler    1029   1.736035
193        2023                  Fisker     133   0.224385
194        2023                    Ford    4270   7.203955
195        2023                 Genesis     205   0.345857
196        2023                 Hyundai    2812   4.744150
197        2023                  Jaguar       6   0.010123
198        2023                    Jeep    1635   2.758423
199        2023                     Kia    2524   4.258263
200        2023              Land Rover       6   0.010123
201        2023                   Lexus     238   0.401532
202        2023                 Lincoln      87   0.146778
203        2023                   Lucid     147   0.248005
204        2023           Mercedes-Benz    1130   1.906433
205        2023                    Mini     252   0.425151
206        2023              Mitsubishi     310   0.523004
207        2023                  Nissan    1701   2.869772
208        2023                Polestar     318   0.536501
209        2023                 Porsche     201   0.339109
210        2023                  Rivian    2917   4.921296
211        2023                  Subaru     643   1.084811
212        2023                   Tesla   27463  46.333069
213        2023                  Toyota    1218   2.054899
214        2023                 Vinfast       1   0.001687
215        2023              Volkswagen    2567   4.330808
216        2023                   Volvo    1530   2.581276
217        2024                   Acura     321   0.645745
218        2024              Alfa Romeo     101   0.203178
219        2024                    Audi    1041   2.094146
220        2024                 Bentley       1   0.002012
221        2024                     Bmw    2169   4.363307
222        2024              Brightdrop       2   0.004023
223        2024                Cadillac     873   1.756186
224        2024               Chevrolet    2040   4.103802
225        2024                Chrysler     536   1.078254
226        2024                   Dodge     257   0.516999
227        2024                    Fiat      94   0.189097
228        2024                    Ford    2770   5.572319
229        2024                 Genesis     131   0.263528
230        2024                     Gmc     265   0.533092
231        2024                   Honda    1491   2.999396
232        2024                 Hyundai    2821   5.674915
233        2024                  Jaguar      19   0.038222
234        2024                    Jeep    2486   5.001006
235        2024                     Kia    3765   7.573929
236        2024             Lamborghini       7   0.014082
237        2024              Land Rover      21   0.042245
238        2024                   Lexus     502   1.009857
239        2024                 Lincoln      87   0.175015
240        2024                   Lucid      71   0.142828
241        2024                   Mazda     794   1.597264
242        2024           Mercedes-Benz     607   1.221082
243        2024                    Mini     245   0.492859
244        2024              Mitsubishi     116   0.233353
245        2024  Mullen Automotive Inc.       2   0.004023
246        2024                  Nissan    1223   2.460270
247        2024                Polestar     332   0.667874
248        2024                 Porsche     236   0.474754
249        2024                     Ram       9   0.018105
250        2024                  Rivian    1584   3.186482
251        2024             Rolls-Royce       5   0.010058
252        2024                  Subaru    1307   2.629250
253        2024                   Tesla   16484  33.160330
254        2024                  Toyota    3148   6.332730
255        2024                 Vinfast       1   0.002012
256        2024              Volkswagen     763   1.534902
257        2024                   Volvo     983   1.977469
258        2025              Alfa Romeo       1   0.004288
259        2025                    Audi     292   1.252198
260        2025                 Bentley       3   0.012865
261        2025                     Bmw    1672   7.170119
262        2025                Cadillac     416   1.783953
263        2025               Chevrolet     777   3.332047
264        2025                Chrysler      78   0.334491
265        2025                   Dodge      20   0.085767
266        2025                    Ford     347   1.488057
267        2025                 Genesis      75   0.321626
268        2025                     Gmc     180   0.771903
269        2025                   Honda      73   0.313049
270        2025                 Hyundai     988   4.236888
271        2025                    Jeep     803   3.443544
272        2025                     Kia    1519   6.514001
273        2025             Lamborghini       6   0.025730
274        2025              Land Rover     104   0.445988
275        2025                   Lexus     338   1.449462
276        2025                 Lincoln      18   0.077190
277        2025                   Lucid     133   0.570350
278        2025                   Mazda     419   1.796818
279        2025           Mercedes-Benz     558   2.392898
280        2025                    Mini     136   0.583215
281        2025              Mitsubishi     117   0.501737
282        2025                  Nissan    1074   4.605686
283        2025                Polestar     167   0.716154
284        2025                 Porsche     299   1.282216
285        2025                  Rivian    1804   7.736181
286        2025             Rolls-Royce       1   0.004288
287        2025                  Subaru     148   0.634676
288        2025                   Tesla    8566  36.733994
289        2025                  Toyota     929   3.983876
290        2025              Volkswagen     229   0.982032
291        2025                   Volvo    1029   4.412711

In [124]:
# Top 5s of each year
top_5s = make_year.sort_values(['Model Year','counts'],ascending=[True,False]).groupby('Model Year').head(5)
# top 5 for 2025
top_5s.query('`Model Year` == 2025')

     Model Year Make_clear  counts    share_%
288        2025      Tesla    8566  36.733994
285        2025     Rivian    1804   7.736181
261        2025        Bmw    1672   7.170119
272        2025        Kia    1519   6.514001
282        2025     Nissan    1074   4.605686

Electric Range Trend

In [125]:
df.head(1)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJSA1E65N,Yakima,Granger,WA,98932.0,2022,TESLA,MODEL S,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,15.0,187279214,POINT (-120.1871 46.33949),PACIFICORP,5.307700e+10

In [126]:
# Sanity check for Electric Range
df.loc[:,['Model Year','Electric Vehicle Type','Electric Range']].sort_values('Model Year',ascending=True).sample(10)

        Model Year                   Electric Vehicle Type  Electric Range
53096         2024          Battery Electric Vehicle (BEV)             0.0
40482         2023          Battery Electric Vehicle (BEV)             0.0
215811        2024  Plug-in Hybrid Electric Vehicle (PHEV)            42.0
155662        2021          Battery Electric Vehicle (BEV)             0.0
73871         2021          Battery Electric Vehicle (BEV)             0.0
133271        2025          Battery Electric Vehicle (BEV)             0.0
31056         2015          Battery Electric Vehicle (BEV)           208.0
122855        2018          Battery Electric Vehicle (BEV)           215.0
216316        2023          Battery Electric Vehicle (BEV)             0.0
234321        2018          Battery Electric Vehicle (BEV)           215.0

In [127]:
pd.set_option("display.max_rows", None)

In [128]:
df_valid =  df.query("`Model Year`> 2009 and  `Model Year` <2026")

In [129]:
# Car companies with null Electric Range
null_ranges=df_valid.query("`Electric Range` == 0.0").loc[:,['Make','Model Year']].value_counts().sort_index().to_frame()

In [130]:
null_ranges

                                   count
Make                   Model Year
ACURA                  2024          321
AUDI                   2021           71
                       2022          499
                       2023          530
                       2024          580
                       2025          218
BMW                    2021           48
                       2022          256
                       2023         1000
                       2024         1593
                       2025          964
BRIGHTDROP             2023           33
                       2024            2
CADILLAC               2023           60
                       2024          873
                       2025          416
CHEVROLET              2021          642
                       2022         1200
                       2023         3331
                       2024         2040
                       2025          777
DODGE                  2024           24
                       2025           20
FIAT                   2024           94
FISKER                 2023          133
FORD                   2021          901
                       2022         1539
                       2023         4125
                       2024         2633
                       2025          268
GENESIS                2023          205
                       2024          131
                       2025           75
GMC                    2024          265
                       2025          180
HONDA                  2024         1491
                       2025           73
HYUNDAI                2021          314
                       2022          629
                       2023         2528
                       2024         2377
                       2025          921
JAGUAR                 2022           20
                       2023            6
                       2024           19
JEEP                   2024           45
                       2025           32
KIA                    2019            3
                       2021           69
                       2022         1659
                       2023         1487
                       2024         3145
                       2025          642
LEXUS                  2023          213
                       2024          190
                       2025           65
LUCID                  2022          112
                       2023          147
                       2024           71
                       2025          133
MAZDA                  2022           22
MERCEDES-BENZ          2022          165
                       2023         1130
                       2024          443
                       2025          118
MINI                   2020           16
                       2022          216
                       2023          218
                       2024          245
                       2025          136
MULLEN AUTOMOTIVE INC. 2024            2
NISSAN                 2020           63
                       2021          699
                       2022         1154
                       2023         1701
                       2024         1223
                       2025         1074
POLESTAR               2022          402
                       2023          318
                       2024          332
                       2025          167
PORSCHE                2021           70
                       2022          191
                       2023          152
                       2024          104
                       2025          235
RAM                    2024            9
RIVIAN                 2022         1332
                       2023         2917
                       2024         1584
                       2025         1804
ROLLS-ROYCE            2024            5
                       2025            1
SMART                  2019            1
SUBARU                 2023          643
                       2024         1307
                       2025          148
TESLA                  2021        11518
                       2022        13949
                       2023        27463
                       2024        16484
                       2025         8566
TOYOTA                 2023          387
                       2024          945
                       2025          233
VINFAST                2023            1
                       2024            1
VOLKSWAGEN             2021         1116
                       2022          739
                       2023         2567
                       2024          763
                       2025          229
VOLVO                  2021          333
                       2022          443
                       2023          919
                       2024          206
                       2025          351

In [131]:
null_ranges['ttl_cnt '] =df_valid.groupby(['Make','Model Year']).agg(counts = ('VIN (1-10)','count'))

In [132]:
null_ranges

                                   count  ttl_cnt
Make                   Model Year
ACURA                  2024          321       321
AUDI                   2021           71       608
                       2022          499       643
                       2023          530       683
                       2024          580      1041
                       2025          218       292
BMW                    2021           48       770
                       2022          256       983
                       2023         1000      1822
                       2024         1593      2169
                       2025          964      1672
BRIGHTDROP             2023           33        33
                       2024            2         2
CADILLAC               2023           60        60
                       2024          873       873
                       2025          416       416
CHEVROLET              2021          642       642
                       2022         1200      1200
                       2023         3331      3331
                       2024         2040      2040
                       2025          777       777
DODGE                  2024           24       257
                       2025           20        20
FIAT                   2024           94        94
FISKER                 2023          133       133
FORD                   2021          901       960
                       2022         1539      1780
                       2023         4125      4270
                       2024         2633      2770
                       2025          268       347
GENESIS                2023          205       205
                       2024          131       131
                       2025           75        75
GMC                    2024          265       265
                       2025          180       180
HONDA                  2024         1491      1491
                       2025           73        73
HYUNDAI                2021          314       336
                       2022          629       792
                       2023         2528      2812
                       2024         2377      2821
                       2025          921       988
JAGUAR                 2022           20        20
                       2023            6         6
                       2024           19        19
JEEP                   2024           45      2486
                       2025           32       803
KIA                    2019            3       672
                       2021           69       101
                       2022         1659      2148
                       2023         1487      2524
                       2024         3145      3765
                       2025          642      1519
LEXUS                  2023          213       238
                       2024          190       502
                       2025           65       338
LUCID                  2022          112       112
                       2023          147       147
                       2024           71        71
                       2025          133       133
MAZDA                  2022           22        22
MERCEDES-BENZ          2022          165       165
                       2023         1130      1130
                       2024          443       607
                       2025          118       558
MINI                   2020           16        19
                       2022          216       240
                       2023          218       252
                       2024          245       245
                       2025          136       136
MULLEN AUTOMOTIVE INC. 2024            2         2
NISSAN                 2020           63       709
                       2021          699       699
                       2022         1154      1154
                       2023         1701      1701
                       2024         1223      1223
                       2025         1074      1074
POLESTAR               2022          402       402
                       2023          318       318
                       2024          332       332
                       2025          167       167
PORSCHE                2021           70       218
                       2022          191       228
                       2023          152       201
                       2024          104       236
                       2025          235       299
RAM                    2024            9         9
RIVIAN                 2022         1332      1332
                       2023         2917      2917
                       2024         1584      1584
                       2025         1804      1804
ROLLS-ROYCE            2024            5         5
                       2025            1         1
SMART                  2019            1        11
SUBARU                 2023          643       643
                       2024         1307      1307
                       2025          148       148
TESLA                  2021        11518     11518
                       2022        13949     13949
                       2023        27463     27463
                       2024        16484     16484
                       2025         8566      8566
TOYOTA                 2023          387      1218
                       2024          945      3148
                       2025          233       929
VINFAST                2023            1         1
                       2024            1         1
VOLKSWAGEN             2021         1116      1116
                       2022          739       739
                       2023         2567      2567
                       2024          763       763
                       2025          229       229
VOLVO                  2021          333       943
                       2022          443      1225
                       2023          919      1530
                       2024          206       983
                       2025          351      1029

In [133]:
# ratio of missed Electric Ranges
missing_ratio = round(null_ranges['count']/null_ranges['ttl_cnt '],2)
missing_ratio

Make                    Model Year
ACURA                   2024          1.00
AUDI                    2021          0.12
                        2022          0.78
                        2023          0.78
                        2024          0.56
                        2025          0.75
BMW                     2021          0.06
                        2022          0.26
                        2023          0.55
                        2024          0.73
                        2025          0.58
BRIGHTDROP              2023          1.00
                        2024          1.00
CADILLAC                2023          1.00
                        2024          1.00
                        2025          1.00
CHEVROLET               2021          1.00
                        2022          1.00
                        2023          1.00
                        2024          1.00
                        2025          1.00
DODGE                   2024          0.09
                        2025          1.00
FIAT                    2024          1.00
FISKER                  2023          1.00
FORD                    2021          0.94
                        2022          0.86
                        2023          0.97
                        2024          0.95
                        2025          0.77
GENESIS                 2023          1.00
                        2024          1.00
                        2025          1.00
GMC                     2024          1.00
                        2025          1.00
HONDA                   2024          1.00
                        2025          1.00
HYUNDAI                 2021          0.93
                        2022          0.79
                        2023          0.90
                        2024          0.84
                        2025          0.93
JAGUAR                  2022          1.00
                        2023          1.00
                        2024          1.00
JEEP                    2024          0.02
                        2025          0.04
KIA                     2019          0.00
                        2021          0.68
                        2022          0.77
                        2023          0.59
                        2024          0.84
                        2025          0.42
LEXUS                   2023          0.89
                        2024          0.38
                        2025          0.19
LUCID                   2022          1.00
                        2023          1.00
                        2024          1.00
                        2025          1.00
MAZDA                   2022          1.00
MERCEDES-BENZ           2022          1.00
                        2023          1.00
                        2024          0.73
                        2025          0.21
MINI                    2020          0.84
                        2022          0.90
                        2023          0.87
                        2024          1.00
                        2025          1.00
MULLEN AUTOMOTIVE INC.  2024          1.00
NISSAN                  2020          0.09
                        2021          1.00
                        2022          1.00
                        2023          1.00
                        2024          1.00
                        2025          1.00
POLESTAR                2022          1.00
                        2023          1.00
                        2024          1.00
                        2025          1.00
PORSCHE                 2021          0.32
                        2022          0.84
                        2023          0.76
                        2024          0.44
                        2025          0.79
RAM                     2024          1.00
RIVIAN                  2022          1.00
                        2023          1.00
                        2024          1.00
                        2025          1.00
ROLLS-ROYCE             2024          1.00
                        2025          1.00
SMART                   2019          0.09
SUBARU                  2023          1.00
                        2024          1.00
                        2025          1.00
TESLA                   2021          1.00
                        2022          1.00
                        2023          1.00
                        2024          1.00
                        2025          1.00
TOYOTA                  2023          0.32
                        2024          0.30
                        2025          0.25
VINFAST                 2023          1.00
                        2024          1.00
VOLKSWAGEN              2021          1.00
                        2022          1.00
                        2023          1.00
                        2024          1.00
                        2025          1.00
VOLVO                   2021          0.35
                        2022          0.36
                        2023          0.60
                        2024          0.21
                        2025          0.34
dtype: float64

In [ ]:
# These cutoffs are industry-standard heuristics (not arbitrary) — they’re commonly used in credit risk, healthcare, and public datasets when deciding whether to impute vs drop. 0.9, 0.1
null_ranges['missing_ratio'] =missing_ratio

In [135]:
cond = [null_ranges['missing_ratio']>=0.9,(null_ranges['missing_ratio']<0.9) &( null_ranges['missing_ratio']>=0.1),null_ranges['missing_ratio']<0.1]
vals=["all_missing","partial_missing","partial_missing"]
null_ranges['imputation_flag'] = np.select(cond,vals,default="none_missing")

In [136]:
null_ranges.sample(20)

                        count  ttl_cnt   missing_ratio  imputation_flag
Make        Model Year
VOLVO       2025          351      1029           0.34  partial_missing
CHEVROLET   2022         1200      1200           1.00      all_missing
ROLLS-ROYCE 2025            1         1           1.00      all_missing
FORD        2021          901       960           0.94      all_missing
VOLKSWAGEN  2021         1116      1116           1.00      all_missing
DODGE       2024           24       257           0.09  partial_missing
FIAT        2024           94        94           1.00      all_missing
BMW         2025          964      1672           0.58  partial_missing
KIA         2025          642      1519           0.42  partial_missing
FORD        2025          268       347           0.77  partial_missing
MINI        2020           16        19           0.84  partial_missing
LUCID       2022          112       112           1.00      all_missing
BMW         2023         1000      1822           0.55  partial_missing
TESLA       2024        16484     16484           1.00      all_missing
NISSAN      2021          699       699           1.00      all_missing
BMW         2022          256       983           0.26  partial_missing
FISKER      2023          133       133           1.00      all_missing
MINI        2022          216       240           0.90      all_missing
GMC         2025          180       180           1.00      all_missing
PORSCHE     2024          104       236           0.44  partial_missing

In [137]:
# using the falg from null_ranges data frame

df_valid = df_valid.merge(null_ranges.reset_index()[['Make','Model Year','imputation_flag']],on=['Make','Model Year'], how='left'
)

In [138]:
df_valid['imputation_flag'] = df_valid['imputation_flag'].fillna("none_missing")

In [139]:
df_valid['imputation_flag'].value_counts()

imputation_flag
all_missing        127162
none_missing        75158
partial_missing     46119
Name: count, dtype: int64

In [140]:
#  df_valid has columns: 'Make','Model','Model Year','Electric Vehicle Type','Electric Range','VIN (1-10)','imputation_flag'
# imputation_flag ∈ {'all_missing','partial_missing','none_missing'}
df_valid['EV_type'] = np.where(df_valid['Electric Vehicle Type'].str.contains('battery',case=False,na=False),"BEV","PHEV")

In [141]:
# data lineage / transparency flag
df_valid['zero_range'] = np.where(df_valid['Electric Range'] == 0.0,True,False)

# converts 0.0 to nan 
df_valid['range_clean'] = df_valid['Electric Range'].mask(df_valid['Electric Range']== 0.0).clip(0,600)

In [142]:
df_valid['imputation_flag'].value_counts()

imputation_flag
all_missing        127162
none_missing        75158
partial_missing     46119
Name: count, dtype: int64

In [143]:
# Imputation based on the flag type

# Partial missing group
partial_mask  = df_valid['imputation_flag'].eq("partial_missing") & df_valid['zero_range']

# 1) Make + Model + Year + EV_Type

m = partial_mask & df_valid["range_clean"].isna()
df_valid.loc[m, "range_clean"] = (
    df_valid.loc[m]
            .groupby(["Make","Model","Model Year","EV_type"])["range_clean"]
            .transform(lambda s: s.fillna(s.median()))
)

In [144]:
# 2) Make + Year + EV_Type
m = partial_mask & df_valid["range_clean"].isna()
df_valid.loc[m, "range_clean"] = (
    df_valid.loc[m]
            .groupby(["Make","Model Year","EV_type"])["range_clean"]
            .transform(lambda s: s.fillna(s.median()))
)

In [145]:
# 3) Make + EV_Type (last in-group fallback)
m = partial_mask & df_valid["range_clean"].isna()
df_valid.loc[m, "range_clean"] = (
    df_valid.loc[m]
            .groupby(["Make","EV_type"])["range_clean"]
            .transform(lambda s: s.fillna(s.median()))
)

In [146]:
# ALl missing Values Imputation

mask_all = df_valid["imputation_flag"].eq("all_missing") & df_valid["zero_range"]

In [147]:
# ALL MISSING: no valid peers → EV-Type global median
# (Still only for rows that were originally missing)
# --------------------------------------------------
type_medians = df_valid.groupby("EV_type")["range_clean"].median()
df_valid.loc[mask_all, "range_clean"] = df_valid.loc[mask_all, "EV_type"].map(type_medians)

# --------------------------------------------------
# TRANSPARENCY FLAGS / QA
# --------------------------------------------------
df_valid["range_imputed"] = df_valid["zero_range"] & df_valid["range_clean"].notna()
df_valid["range_still_na"] = df_valid["range_clean"].isna()  # should be ~0; investigate if >0

In [148]:
df_valid['range_still_na'].sum()

np.int64(23595)

In [149]:
# Step 1: EV-Type median fallback for ANY NaN
type_medians = df_valid.groupby('EV_type')['range_clean'].median()
mask_any_na = df_valid['range_clean'].isna()
df_valid.loc[mask_any_na, 'range_clean'] = df_valid.loc[mask_any_na, 'EV_type'].map(type_medians)

# Step 2: Global median fallback (for cases with missing EV_Type or EV_Type median also NaN)
overall_med = df_valid['range_clean'].median(skipna=True)
df_valid['range_clean'] = df_valid['range_clean'].fillna(overall_med)

# Step 3: Refresh flags
df_valid['range_still_na'] = df_valid['range_clean'].isna()
df_valid['range_imputed'] = df_valid['zero_range'] & df_valid['range_clean'].notna()

In [150]:
df_valid['range_still_na'].sum()

np.int64(0)

In [151]:
df_valid['EV_type'].value_counts()

EV_type
BEV     197352
PHEV     51087
Name: count, dtype: int64

In [ ]:
# Long-range flag (>= 300 miles)
df_valid['long_range_flag'] = ((df_valid['range_clean'] >= 300 )& (df_valid['EV_type'].eq('BEV')) ).astype('int8')

# --- Range stats per year ---
kpi4_range_stats = (
    df_valid.groupby(['Model Year','EV_type'])['range_clean']
      .agg(
          count='count',
          median='median',
          p25=lambda s: s.quantile(0.25),
          p75=lambda s: s.quantile(0.75),
          min='min',
          max='max',
          mean='mean'
      )
      .reset_index()
)

# --- Long-range share per year ---
kpi4_long_share = (
    df_valid.groupby(['Model Year','EV_type'])['long_range_flag']
      .mean()
      .mul(100).round(1)
      .reset_index(name='long_range_share_pct')
)

# missing value and imputed value percentage
kpi4_coverage = (
    df_valid.groupby(['Model Year','EV_type'])
      .agg(
          total_vehicles=('VIN (1-10)','count'),
          originally_missing=('zero_range','sum'),
          imputed=('range_imputed','sum')
      )
      .assign(
          originally_missing_pct=lambda x: (x['originally_missing']/x['total_vehicles']*100).round(1),
          imputed_pct=lambda x: (x['imputed']/x['total_vehicles']*100).round(1)
      )
      .reset_index()
)

# --- Final merged KPI #4 table ---
kpi4_final = (
    kpi4_range_stats
      .merge(kpi4_long_share, on=['Model Year','EV_type'], how='left')
      .merge(kpi4_coverage[['Model Year','originally_missing_pct','imputed_pct','EV_type']], on=['Model Year','EV_type'], how='left')
      .sort_values(['Model Year','EV_type'])
)

In [153]:
kpi4_final

,Model Year,EV_type,count,median,p25,p75,min,max,mean,long_range_share_pct,originally_missing_pct,imputed_pct
0,2010,BEV,22,245.0,245.0,245.0,245.0,245.0,245.000000,0.0,0.0,0.0
1,2010,PHEV,2,100.0,100.0,100.0,100.0,100.0,100.000000,0.0,0.0,0.0
2,2011,BEV,566,73.0,73.0,73.0,56.0,245.0,75.549470,0.0,0.0,0.0
3,2011,PHEV,71,35.0,35.0,35.0,35.0,35.0,35.000000,0.0,0.0,0.0
4,2012,BEV,647,73.0,73.0,73.0,62.0,265.0,107.134467,0.0,0.0,0.0
5,2012,PHEV,800,35.0,6.0,35.0,6.0,35.0,21.671250,0.0,0.0,0.0
6,2013,BEV,2600,75.0,75.0,208.0,68.0,208.0,110.432308,0.0,0.0,0.0
7,2013,PHEV,1540,19.0,19.0,38.0,6.0,38.0,25.913636,0.0,0.0,0.0
8,2014,BEV,1629,84.0,84.0,208.0,58.0,208.0,127.802947,0.0,0.0,0.0
9,2014,PHEV,1712,38.0,19.0,38.0,6.0,72.0,33.532126,0.0,0.0,0.0
10,2015,BEV,3310,84.0,84.0,208.0,68.0,208.0,119.007251,0.0,0.0,0.0
11,2015,PHEV,1282,19.0,19.0,38.0,6.0,72.0,33.964119,0.0,0.0,0.0
12,2016,BEV,3573,93.0,84.0,210.0,62.0,210.0,136.322698,0.0,0.0,0.0
13,2016,PHEV,1715,19.0,16.0,27.0,10.0,72.0,26.997668,0.0,0.0,0.0
14,2017,BEV,4752,210.0,107.0,238.0,57.0,238.0,186.436869,0.0,0.0,0.0
15,2017,PHEV,4005,25.0,21.0,53.0,8.0,97.0,37.665169,0.0,0.0,0.0
16,2018,BEV,10195,215.0,215.0,215.0,58.0,249.0,210.651005,0.0,0.0,0.0
17,2018,PHEV,4360,26.0,21.0,47.0,8.0,97.0,33.321789,0.0,0.0,0.0
18,2019,BEV,8968,220.0,204.0,238.0,29.0,289.0,210.060772,0.0,0.0,0.0
19,2019,PHEV,2056,25.0,17.0,29.0,10.0,126.0,31.361868,0.0,0.0,0.0
20,2020,BEV,10466,291.0,259.0,293.0,149.0,337.0,276.330785,25.0,0.8,0.8
21,2020,PHEV,1872,25.0,20.0,29.0,12.0,126.0,27.727030,0.0,0.0,0.0
22,2021,BEV,16403,215.0,215.0,215.0,110.0,233.0,214.392489,0.0,96.2,96.2
23,2021,PHEV,4310,25.0,18.0,32.0,14.0,153.0,28.006032,0.0,0.0,0.0
24,2022,BEV,24527,215.0,215.0,215.0,215.0,215.0,215.000000,0.0,100.0,100.0
25,2022,PHEV,4754,30.0,22.0,32.0,14.0,42.0,28.885780,0.0,0.0,0.0
26,2023,BEV,52214,215.0,215.0,215.0,215.0,215.0,215.000000,0.0,100.0,100.0
27,2023,PHEV,7059,32.0,25.0,34.0,13.0,51.0,30.599518,0.0,0.0,0.0
28,2024,BEV,39634,215.0,215.0,215.0,215.0,308.0,215.195564,0.2,99.8,99.8
29,2024,PHEV,10076,32.0,25.0,39.0,6.0,59.0,31.918718,0.0,0.0,0.0
30,2025,BEV,17846,215.0,215.0,215.0,215.0,215.0,215.000000,0.0,100.0,100.0
31,2025,PHEV,5473,35.0,29.0,40.0,1.0,60.0,34.742372,0.0,0.0,0.0

KPI #5

In [154]:
df_valid['Base MSRP'].value_counts()

Base MSRP
0.0         245235
69900.0       1271
31950.0        353
52900.0        219
32250.0        135
54950.0        127
39995.0        117
59900.0        115
36900.0        107
44100.0         96
64950.0         83
45600.0         80
52650.0         74
33950.0         70
34995.0         65
55700.0         55
36800.0         55
53400.0         34
81100.0         23
110950.0        22
90700.0         16
75095.0         14
184400.0        13
102000.0        10
109000.0         8
43700.0          8
89100.0          7
91250.0          3
32995.0          2
845000.0         1
Name: count, dtype: int64

In [ ]:
# outlier
df_valid[df_valid['Base MSRP']>800000]

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,...,Vehicle Location,Electric Utility,2020 Census Tract,imputation_flag,EV_type,zero_range,range_clean,range_imputed,range_still_na,long_range_flag
80802,WP0CA2A13F,King,Hunts Point,WA,98004.0,2015,PORSCHE,918,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,...,POINT (-122.1872 47.61001),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10,none_missing,PHEV,False,12.0,False,False,0

In [156]:
# converting 0.0 to numeric nan

df_valid['msrp'] = pd.to_numeric(df_valid['Base MSRP'],errors='coerce')
df_valid['msrp'] = df_valid['msrp'].mask(df_valid['msrp']== 0.0,np.nan)

In [157]:
# Bucketting the vehicle based on base msrp
bins = [0,40000,60000,80000,100000,float('inf')]
lables = ['<40k','40–60k','60–80k','80k-90k','100k+']
df_valid['msrp_bucket'] = pd.cut(df_valid['msrp'], bins=bins, labels=lables, include_lowest=True)
df_valid['msrp_bucket'] = df_valid['msrp_bucket'].cat.add_categories(['Unknown'])
df_valid['msrp_bucket'] = df_valid['msrp_bucket'].fillna('Unknown')

In [158]:
df_valid['msrp_bucket'].value_counts()

msrp_bucket
Unknown    245256
60–80k       1368
<40k          904
40–60k        808
100k+          54
80k-90k        49
Name: count, dtype: int64

In [159]:
# Affordability Distribution
kpi5_affordability= (
    df_valid.groupby(['Model Year','msrp_bucket'])
    .size()
    .reset_index(name='count')
    .pivot_table(index='Model Year',columns='msrp_bucket',values='count')
    .fillna(0)
    .astype(int)
    .sort_index()
)

In [160]:
kpi5_affordability

msrp_bucket  <40k  40–60k  60–80k  80k-90k  100k+  Unknown
Model Year
2010            2       0       0        0     22        0
2011            0       0       0        0      8      629
2012            0     115       0        0     10     1322
2013            0       0     682        0      0     3458
2014            0       0     589        0      0     2752
2015            0       0       0        0      1     4591
2016          353       8       0        0      0     4927
2017          135      96       3        7      0     8516
2018          125     408      94       16     13    13899
2019          289     181       0        3      0    10551
2020            0       0       0       23      0    12315
2021            0       0       0        0      0    20713
2022            0       0       0        0      0    29281
2023            0       0       0        0      0    59273
2024            0       0       0        0      0    49710
2025            0       0       0        0      0    23319

In [161]:
# normalizing to pecentages
kpi5_affordability_pct = (
    kpi5_affordability.div(kpi5_affordability.sum(axis=1),axis=0).mul(100).round(1)
)

In [162]:
kpi5_affordability_pct

msrp_bucket  <40k  40–60k  60–80k  80k-90k  100k+  Unknown
Model Year
2010          8.3     0.0     0.0      0.0   91.7      0.0
2011          0.0     0.0     0.0      0.0    1.3     98.7
2012          0.0     7.9     0.0      0.0    0.7     91.4
2013          0.0     0.0    16.5      0.0    0.0     83.5
2014          0.0     0.0    17.6      0.0    0.0     82.4
2015          0.0     0.0     0.0      0.0    0.0    100.0
2016          6.7     0.2     0.0      0.0    0.0     93.2
2017          1.5     1.1     0.0      0.1    0.0     97.2
2018          0.9     2.8     0.6      0.1    0.1     95.5
2019          2.6     1.6     0.0      0.0    0.0     95.7
2020          0.0     0.0     0.0      0.2    0.0     99.8
2021          0.0     0.0     0.0      0.0    0.0    100.0
2022          0.0     0.0     0.0      0.0    0.0    100.0
2023          0.0     0.0     0.0      0.0    0.0    100.0
2024          0.0     0.0     0.0      0.0    0.0    100.0
2025          0.0     0.0     0.0      0.0    0.0    100.0

KPI #6
Geographic Adoption Patterns

In [163]:
df_valid['County'].value_counts()

County
King                    123057
Snohomish                30733
Pierce                   20617
Clark                    15149
Thurston                  9121
Kitsap                    8428
Spokane                   7040
Whatcom                   6110
Benton                    3367
Skagit                    2912
Island                    2729
Yakima                    1680
Chelan                    1540
Clallam                   1518
Jefferson                 1315
Cowlitz                   1292
Mason                     1228
San Juan                  1199
Lewis                     1109
Franklin                   999
Grays Harbor               937
Grant                      927
Kittitas                   927
Walla Walla                683
Douglas                    557
Whitman                    505
Klickitat                  444
Okanogan                   382
Stevens                    309
Pacific                    298
Skamania                   249
Asotin                      95
Adams                       94
Wahkiakum                   87
Pend Oreille                87
Lincoln                     78
Ferry                       44
San Diego                   34
Fairfax                     26
Columbia                    25
El Paso                     21
Orange                      18
Los Angeles                 15
Santa Clara                 15
Knox                        13
Anne Arundel                11
Maricopa                    10
Riverside                   10
Montgomery                   9
Virginia Beach               8
Alameda                      7
Multnomah                    7
Bexar                        7
Lake                         7
New London                   7
District of Columbia         7
Monterey                     7
Macomb                       6
Leavenworth                  6
San Bernardino               6
Cumberland                   6
Prince William               5
Suffolk                      5
Prince George's              5
Kings                        5
Contra Costa                 5
Duval                        5
Alexandria                   4
San Francisco                4
Travis                       4
Hillsborough                 4
Newport                      4
Kootenai                     4
Marin                        4
Howard                       4
Middlesex                    4
San Mateo                    4
Cook                         4
Ventura                      4
Garfield                     4
DuPage                       3
Honolulu                     3
New York                     3
St. Mary's                   3
Williamson                   3
Autauga                      3
Placer                       3
St. Louis                    3
Rockingham                   3
Solano                       3
Hamilton                     3
York                         3
Harnett                      3
Stafford                     3
Arlington                    3
Fresno                       2
Laramie                      2
Harris                       2
Moore                        2
Muscogee                     2
Escambia                     2
Yuba                         2
Okaloosa                     2
Portsmouth                   2
Sacramento                   2
Shelby                       2
Allen                        2
DeKalb                       2
Maui                         2
Clackamas                    2
Allegheny                    2
Greene                       2
Camden                       2
Polk                         2
Berkeley                     2
Ada                          2
Albemarle                    2
Loudoun                      2
Prince George                2
Miami-Dade                   2
Kern                         2
Sarpy                        2
Harford                      2
Burlington                   2
New Haven                    2
Pulaski                      2
Chesapeake                   2
Arapahoe                     2
Salt Lake                    2
Saratoga                     2
Geary                        2
Frederick                    2
Nueces                       2
Dallas                       2
Washoe                       2
Wake                         2
Kent                         2
Jackson                      1
St. Clair                    1
Pinal                        1
St. Charles                  1
Gwinnett                     1
Bucks                        1
Osceola                      1
La Plata                     1
Wayne                        1
Bell                         1
Olmsted                      1
Sussex                       1
Hall                         1
Kane                         1
Chesterfield                 1
Philadelphia                 1
Beaufort                     1
Bannock                      1
Currituck                    1
Monroe                       1
Santa Cruz                   1
Guam                         1
Houston                      1
Hardin                       1
Stanislaus                   1
Baldwin                      1
Sedgwick                     1
Caddo                        1
Talladega                    1
Washtenaw                    1
Miller                       1
Beaver                       1
Denver                       1
Brevard                      1
Palm Beach                   1
Clay                         1
Essex                        1
Carroll                      1
Charlottesville              1
Washington                   1
Kauai                        1
Milwaukee                    1
Mercer                       1
Richmond                     1
Weld                         1
Platte                       1
Bristol                      1
Brown                        1
Providence                   1
Pima                         1
Sarasota                     1
Wise                         1
Davidson                     1
Saginaw                      1
Hudson                       1
Texas                        1
Churchill                    1
Wasco                        1
Calvert                      1
Lee                          1
Goochland                    1
James City                   1
Madison                      1
Henrico                      1
San Luis Obispo              1
Cochise                      1
Hennepin                     1
Christian                    1
Otero                        1
Forsyth                      1
Atlantic                     1
Marion                       1
Hartford                     1
Johnson                      1
Collin                       1
Cobb                         1
Tarrant                      1
Manassas                     1
Oldham                       1
Hoke                         1
Medina                       1
Anchorage                    1
Larimer                      1
Tooele                       1
Penobscot                    1
Williamsburg                 1
Meade                        1
Barnstable                   1
Name: count, dtype: int64

In [164]:
df_valid['City'].value_counts()

City
Seattle                     39542
Bellevue                    12036
Vancouver                    9252
Redmond                      8555
Bothell                      8150
Kirkland                     7090
Sammamish                    6934
Renton                       6821
Olympia                      5929
Tacoma                       5528
Kent                         4226
Bellingham                   4184
Spokane                      4167
Lynnwood                     4044
Everett                      3898
Issaquah                     3701
Woodinville                  3069
Mercer Island                2965
Auburn                       2896
Snohomish                    2852
Gig Harbor                   2721
Shoreline                    2700
Edmonds                      2627
Bainbridge Island            2254
Federal Way                  2215
Maple Valley                 2166
Camas                        2154
Lake Stevens                 2113
Puyallup                     2086
Marysville                   2034
Bremerton                    1984
Seatac                       1719
Port Orchard                 1668
Bonney Lake                  1513
Kenmore                      1423
Richland                     1418
Lacey                        1397
Tukwila                      1382
Kennewick                    1366
Burien                       1333
Ridgefield                   1292
Snoqualmie                   1221
Newcastle                    1218
Lakewood                     1188
Monroe                       1136
Yakima                       1084
Mukilteo                     1073
Spokane Valley               1046
Poulsbo                      1040
North Bend                    987
Mill Creek                    986
University Place              961
Mount Vernon                  959
Tumwater                      956
Pasco                         951
Anacortes                     940
Lake Forest Park              903
Battle Ground                 876
Arlington                     869
Covington                     866
Duvall                        844
Vashon                        831
Sequim                        822
Washougal                     816
South Hill                    812
Port Townsend                 810
Des Moines                    769
Oak Harbor                    708
Mountlake Terrace             663
Port Angeles                  660
Camano Island                 660
Spanaway                      655
Stanwood                      647
Wenatchee                     634
Shelton                       591
Blaine                        570
Silverdale                    545
Friday Harbor                 543
Ferndale                      535
Walla Walla                   531
Graham                        528
Black Diamond                 499
Moses Lake                    492
Lake Tapps                    483
Enumclaw                      482
Carnation                     477
Longview                      462
Yelm                          454
East Wenatchee                422
Ellensburg                    420
Edgewood                      411
Medina                        408
Centralia                     402
Clyde Hill                    402
Pullman                       400
Brush Prairie                 397
Buckley                       386
Liberty Lake                  378
Leavenworth                   369
Kingston                      364
Eastsound                     359
Burlington                    358
West Richland                 357
Langley                       347
Brier                         339
Lynden                        338
Normandy Park                 338
Clinton                       330
Cle Elum                      328
Chehalis                      315
Coupeville                    313
Fall City                     307
Sultan                        301
Fife                          296
Fox Island                    284
Sumner                        277
Sedro-Woolley                 272
La Center                     265
Woodland                      264
Kelso                         262
Freeland                      261
Dupont                        258
Orting                        255
Cheney                        242
Aberdeen                      235
White Salmon                  227
Port Ludlow                   227
Greenacres                    225
Chelan                        221
Steilacoom                    218
Fircrest                      214
Belfair                       213
Granite Falls                 203
Ocean Shores                  199
Eatonville                    192
Roy                           187
Colbert                       184
Lopez Island                  177
Kalama                        174
Rochester                     164
Yarrow Point                  162
Joint Base Lewis Mcchord      155
Milton                        154
Nine Mile Falls               153
Bow                           152
Selah                         151
Parkland                      151
Quincy                        151
Winthrop                      149
Olalla                        142
Seabeck                       136
La Conner                     135
Lakebay                       131
Ravensdale                    129
Woodway                       125
Tenino                        124
Ephrata                       120
Castle Rock                   120
Pacific                       120
Deer Park                     116
Manson                        114
Mead                          114
Montesano                     110
Prosser                       110
Greenbank                     110
Allyn                         109
Everson                       106
Benton City                   105
Sunnyside                     104
Gold Bar                      103
Winlock                       102
College Place                 101
Cashmere                      101
Hansville                     101
Suquamish                      99
Grapeview                      95
Elma                           92
Veradale                       85
Rainier                        83
Yacolt                         82
Othello                        81
Clarkston                      80
Point Roberts                  78
Medical Lake                   75
Sedro Woolley                  75
Orondo                         73
Hoquiam                        72
Union                          72
Hoodsport                      70
Colville                       70
Indianola                      69
Port Hadlock                   69
Hunts Point                    68
Otis Orchards                  66
Twisp                          65
Ronald                         64
Stevenson                      63
Cathlamet                      63
Quilcene                       62
Mccleary                       62
Nordland                       62
Grandview                      62
Newman Lake                    60
Newport                        60
Long Beach                     60
Lummi Island                   60
Chattaroy                      60
Olga                           59
Anderson Island                57
Beaux Arts                     56
Concrete                       52
Ocean Park                     51
Toledo                         51
Goldendale                     50
Maple Falls                    50
Zillah                         48
Algona                         48
Tahuya                         46
Kettle Falls                   46
Moxee                          46
Ruston                         43
Onalaska                       42
Airway Heights                 42
Raymond                        41
Deming                         41
Trout Lake                     41
Snoqualmie Pass                41
Preston                        40
Elk                            39
Underwood                      39
Mossyrock                      39
Westport                       38
Mattawa                        38
Surfside                       37
Custer                         36
Chimacum                       36
Vaughn                         36
Oakville                       36
Packwood                       36
Naches                         35
Brinnon                        35
Entiat                         34
Silverlake                     34
Pacific Beach                  34
Amboy                          34
Malaga                         33
Wapato                         32
Royal City                     30
Roslyn                         30
Colfax                         30
Toppenish                      30
Soap Lake                      30
Valleyford                     29
Palouse                        29
Omak                           29
Mazama                         28
Davenport                      28
Forks                          28
Lyle                           27
Chewelah                       27
Longbranch                     27
Carson                         26
Cosmopolis                     26
Peshastin                      26
Ariel                          25
Dayton                         25
Darrington                     25
Fairchild Air Force Base       25
Ashford                        25
Ritzville                      24
Connell                        24
Easton                         24
Husum                          24
Rock Island                    23
Loon Lake                      23
Snowden                        23
Glacier                        23
Tonasket                       23
Sumas                          22
Oroville                       22
Morton                         22
Naselle                        21
Brewster                       20
Burbank                        20
Union Gap                      20
Ilwaco                         20
Tieton                         19
Outlook                        19
North Bonneville               18
Shaw Island                    17
Coulee City                    17
San Diego                      17
Republic                       17
Dallesport                     17
Warden                         16
Colorado Springs               16
Spangle                        16
Asotin                         15
Lilliwaup                      15
Keyport                        15
Grand Coulee                   15
Silver Creek                   14
Mineral                        14
Nooksack                       14
Bingen                         13
Carbonado                      13
Touchet                        13
Menlo                          13
Waitsburg                      13
Knoxville                      13
Vader                          12
North Cove                     12
Mabton                         12
Rosalia                        12
Orcas Is                       12
Grayland                       12
Cusick                         11
Copalis Beach                  11
Valley                         11
Seaview                        11
Acme                           11
Curtis                         10
Thorp                          10
Bz Corner                      10
Coulee Dam                     10
South Bend                     10
Mesa                           10
Reardan                        10
Evans                          10
Springfield                    10
Ethel                          10
Okanogan                       10
Skamokawa                       9
Clayton                         9
Napavine                        9
Curlew                          9
Granger                         9
Alexandria                      9
Taholah                         9
Baring                          8
Virginia Beach                  8
Waterville                      8
Cinebar                         8
Neah Bay                        8
Toutle                          8
Index                           8
Pateros                         8
Skykomish                       8
Glenoma                         8
Garfield                        7
Orcas                           7
Rice                            7
Carlton                         7
Oysterville                     7
Wilbur                          7
Odessa                          7
South Cle Elum                  7
Kittitas                        7
Washington                      7
Randle                          7
Electric City                   7
Rockford                        7
South Prairie                   6
Moclips                         6
Cowiche                         6
Bridgeport Bar                  6
Los Angeles                     6
Mansfield                       6
Warren                          6
Wilkeson                        6
Eltopia                         6
Addy                            6
Methow                          6
Riverside                       6
Sekiu                           6
Murdock                         6
Las Vegas                       6
Endicott                        6
Tulalip                         6
Edwall                          6
Pouslbo                         6
Portland                        6
Fort Leavenworth                6
Quinault                        5
Mica                            5
Ford                            5
Salkum                          5
Centerville                     5
Jacksonville                    5
Waldron                         5
Colton                          5
Grays River                     5
Chula Vista                     5
Nahcotta                        5
Chelan Falls                    5
Seaside                         5
Kapowsin                        5
San Jose                        4
San Francisco                   4
Upper Marlboro                  4
Pe Ell                          4
Springdale                      4
Palisades                       4
Bridgeport                      4
Austin                          4
Portsmouth                      4
Scottsdale                      4
Oakesdale                       4
El Paso                         4
Manassas                        4
Middletown                      4
Orlando                         4
Tampa                           4
Uniontown                       4
Lincoln                         4
Tokeland                        4
Fairfield                       4
Sprague                         4
Amanda Park                     4
Rosburg                         4
Elbe                            4
Lind                            3
Hunters                         3
Omaha                           3
Chinook                         3
Lebam                           3
Port Gamble                     3
Tekoa                           3
Annapolis                       3
Ione                            3
Charlottesville                 3
Fort Irwin                      3
Prattville                      3
Fort Bragg                      3
Lisle                           3
Oceanside                       3
Clearlake                       3
Alameda                         3
Wrch                            3
Santa Clara                     3
Roseville                       3
Bucoda                          3
Clallam Bay                     3
Parker                          3
Hanford                         3
Willapa                         3
Pasc                            3
Cougar                          3
Ryderwood                       3
Latah                           3
New York                        3
Deer Meadows                    3
Seven Bays                      3
Harrington                      3
Phoenix                         3
Libertyville                    3
Marlin                          3
Pomeroy                         3
Boston                          2
Walla Walla Co                  2
Vienna                          2
Stafford                        2
Norwich                         2
Wishram                         2
Fayetteville                    2
Winchester                      2
Sparks                          2
Sunnyvale                       2
Corpus Christi                  2
Brooklyn                        2
Jbsa Ft Sam Houston             2
Cincinnati                      2
Madison                         2
Kihei                           2
Copalis Crossing                2
Fort Belvoir                    2
Coronado                        2
Jbsa Lackland                   2
Fresno                          2
Dublin                          2
Artondale                       2
Suffolk                         2
Orient                          2
Klickitat                       2
Mill Valley                     2
Honolulu                        2
Post Falls                      2
Washtucna                       2
Joint Base Mdl                  2
Buena                           2
Salem                           2
Converse                        2
San Antonio                     2
Chesapeake                      2
Burke                           2
Mountain View                   2
Fort Wayne                      2
St John                         2
Beavercreek                     2
Saint Louis                     2
National City                   2
Pittsburgh                      2
Bethesda                        2
Williamsburg                    2
Wahkiacus                       2
Lacrosse                        2
Boise                           2
Monitor                         2
San Juan Is                     2
Pensacola                       2
Irvine                          2
Fort George G Meade             2
Almira                          2
Cheyenne                        2
Henrico                         2
Salt Lake City                  2
Prescott                        2
Englewood                       2
Hartline                        2
Walnut Creek                    2
Usk                             2
Cupertino                       2
Lyman                           2
Wellpinit                       2
Bickleton                       2
Yorktown                        2
West Point                      2
Creston                         2
Hamilton                        2
Lopez Is                        2
Vantage                         2
Decatur                         2
White Swan                      2
Herndon                         2
Edwards                         1
Culver City                     1
Cathedral City                  1
Rio Rico                        1
Alvord                          1
Ellicott City                   1
Pacific Grove                   1
Hanscom Afb                     1
Dededo                          1
Incorporated                    1
Turlock                         1
Skokie                          1
Montclair                       1
Grovetown                       1
Travis Afb                      1
Saint Marys                     1
Reston                          1
McCleary                        1
Moncks Corner                   1
Pacific Palisades               1
Ladera Ranch                    1
Stanhope                        1
Fort Benning                    1
Fort Lee                        1
Carrollton                      1
Minneapolis                     1
Cumming                         1
Potomac                         1
Rancho Cucamonga                1
Bluffton                        1
La Mesa                         1
Warrensburg                     1
Lake Zurich                     1
Woodbridge                      1
Pocatello                       1
San Mateo                       1
Ozark                           1
Fremont                         1
Chantilly                       1
Moorpark                        1
Rathdrum                        1
Berkeley                        1
Plano                           1
Port Hueneme                    1
Hyde Park                       1
Moreno Valley                   1
Highland Park                   1
Newington                       1
Silver Lake                     1
Indianapolis                    1
Moyock                          1
Ballwin                         1
Martha Lake                     1
Egg Harbor Township             1

In [165]:
df_valid['Postal Code'].nunique()

1014

In [166]:
# normalizing county name
df_valid['county_norm'] = (
    df_valid['County'].str.strip().str.title().str.replace(" County","",regex=False)
)

In [167]:
kpi6_county = df_valid.groupby(['Model Year','county_norm']).size().reset_index(name='count')
# top counties
top_counties = df_valid['county_norm'].value_counts().head(5).index

kpi6_top_counties = (
    df_valid[df_valid['county_norm'].isin(top_counties)]
    .groupby(['Model Year','county_norm'])
    .size()
    .reset_index(name='count')
    .pivot_table(index = 'Model Year',columns='county_norm',values='count')
    .fillna(0)
    .astype(int)
)

In [168]:
kpi6_top_counties

county_norm  Clark   King  Pierce  Snohomish  Thurston
Model Year
2010             1     14       2          2         1
2011            36    260      62         58        32
2012           118    490     139        142        65
2013           288   1694     355        490       198
2014           198   1413     308        383       146
2015           294   2064     376        508       193
2016           319   2492     453        550       210
2017           593   3854     777        877       500
2018           835   7350    1156       1634       513
2019           652   5384     871       1234       467
2020           761   5959    1037       1443       468
2021          1324  10165    1719       2479       706
2022          1798  14794    2212       3651      1018
2023          3509  30466    4545       8028      2174
2024          3045  24088    4630       6313      1741
2025          1378  12570    1975       2941       689

In [169]:
# top cities
kpi6_cities = df_valid.groupby(['Model Year','City']).size().reset_index(name='count')
# top counties
top_cities = df_valid['City'].value_counts().head(5).index

kpi6_top_cities = (
    df_valid[df_valid['City'].isin(top_cities)]
    .groupby(['Model Year','City'])
    .size()
    .reset_index(name='count')
    .pivot_table(index = 'Model Year',columns='City',values='count')
    .fillna(0)
    .astype(int)
)

In [170]:
kpi6_top_cities

City        Bellevue  Bothell  Redmond  Seattle  Vancouver
Model Year
2010               3        0        1        5          0
2011              24       13        9      117         20
2012              42       22       16      199         81
2013             128       65       95      649        193
2014             102       76       79      500        114
2015             188      100      111      827        198
2016             214      125      122      954        200
2017             308      167      210     1467        356
2018             751      395      542     2468        511
2019             454      302      342     2002        402
2020             540      324      361     2146        474
2021             872      647      650     3597        793
2022            1451     1023     1060     4640       1063
2023            3124     2402     2330     8900       2015
2024            2479     1641     1699     7219       1906
2025            1356      848      928     3852        926

KPI#7 Vehicle lifecycle

In [171]:
# the data set description says :Metadata Updated: August 23, 2025
Current_year =2025
df_valid['vehicle_age'] = Current_year-df_valid['Model Year']

In [172]:
df_valid['vehicle_age'].describe()
df_valid['vehicle_age'].value_counts().sort_index().head(10)

vehicle_age
0    23319
1    49710
2    59273
3    29281
4    20713
5    12338
6    11024
7    14555
8     8757
9     5288
Name: count, dtype: int64

In [173]:
kpi7_age_distribution = (
    df_valid.groupby(['vehicle_age'])
    .size()
    .reset_index(name='count')
    .sort_values('vehicle_age')
)

In [174]:
kpi7_age_distribution

    vehicle_age  count
0             0  23319
1             1  49710
2             2  59273
3             3  29281
4             4  20713
5             5  12338
6             6  11024
7             7  14555
8             8   8757
9             9   5288
10           10   4592
11           11   3341
12           12   4140
13           13   1447
14           14    637
15           15     24

In [175]:
# age of vehicle by BEV and PHEV
kpi7_age_split = (
    df_valid.groupby(['vehicle_age','EV_type'])
      .size()
      .reset_index(name='count')
      .pivot(index='vehicle_age', columns='EV_type', values='count')
      .fillna(0)
      .astype(int)
)
kpi7_age_split

EV_type        BEV   PHEV
vehicle_age
0            17846   5473
1            39634  10076
2            52214   7059
3            24527   4754
4            16403   4310
5            10466   1872
6             8968   2056
7            10195   4360
8             4752   4005
9             3573   1715
10            3310   1282
11            1629   1712
12            2600   1540
13             647    800
14             566     71
15              22      2

In [ ]:
# Exporting KPIs and Vaild dataframe into csv file
df_valid.to_csv("fact_ev_registeration.csv")
kpi4_range_stats.to_csv("range_stats.csv")
kpi5_affordability.to_csv("ev_affordability.csv")
kpi6_county.to_csv("ev_per_county.csv")
kpi6_cities.to_csv("ev_per_cities.csv")
kpi7_age_split.to_csv("ev_age.csv")
kpi4_final.to_csv("range_with_impute_pct.csv")